.col-md-8, .col-md-4{
	border: 3px solid blue;
	margin-top: 5px;
	background-color: #dddddd;
	box-shadow: 2px black;
}
#envio{
	padding: 5px;
	text-align: center;
}
.col-md-12{
	border: 3px solid blue;
}

.col-md-10{
	border: 3px solid black;
	background-color: #dddddd;
}
.col-md-2{
	border: 3px solid grey;
	background-color: yellow;
}
.col-md-1{
	border: 3px solid black;
	background-color: red;
	color: white;
}
.col-md-6{
	border: 3px solid black;
	background-color: red;
	color: white;
	}
div #ut {
	border: 3px solid black;
	background-color: red;
	color: white;
	padding: 4px;
}
.col-md-3{
	border: 3px solid black;
	background-color: blue;
	color: white;
}
.col-md-5{
	border: 3px solid grey;
	background-color: black;
	color: white;
}
*{
}
h1{
	text-align: center;
	}
h3{
	text-align: center;
	background: black;
	color: white;
}
